.rcw-launcher{
    background-color: #613FB1 !important;
}
.rcw-conversation-container .rcw-header{
    background-color: #613FB1 !important;
}
.rcw-message-text{
    background-color: #ffd472 !important;
}